<div class='row'>
  <div class='col-md-5' >
    <!-- INSERT COMIC COVER IMAGE HERE WITH ERB.
         ATTACH THE CLASS of 'img-responsive' TO THIS LINK -->
    <%= image_tag @comic.image, :class=>"img-responsive" %>
  </div>
  <div class='col-md-7'>
    <h1> <%= @comic.title %> </h1>
    <h4> <%= @comic.description %> </h4><br>
    <%= link_to "Delete Comic", "/comics/delete/#{@comic.id}", class: ' btn btn-large btn-danger' %><br><br>
    <%= link_to "Edit Comic", "/comics/edit/#{@comic.id}", class: ' btn btn-large btn-danger' %>
  </div>
</div>
